/*基本动画效果*/
/*上下左右移动移*/
.moveLeft:hover{
    transform:translateX(-10px);
    -ms-transform:translateX(-10px); /* IE 9 */
    -moz-transform:translateX(-10px); /* Firefox */
    -webkit-transform:translateX(-10px); /* Safari and Chrome */
    -o-transform:translateX(-10px); /* Opera */
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.moveRight:hover{
    transform:translateX(10px);
    -ms-transform:translateX(10px); /* IE 9 */
    -moz-transform:translateX(10px); /* Firefox */
    -webkit-transform:translateX(10px); /* Safari and Chrome */
    -o-transform:translateX(10px); /* Opera */
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.moveUp:hover{
    transform:translateY(-10px);
    -ms-transform:translateY(-10px); /* IE 9 */
    -moz-transform:translateY(-10px); /* Firefox */
    -webkit-transform:translateY(-10px); /* Safari and Chrome */
    -o-transform:translateY(-10px); /* Opera */
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.moveDown:hover{
    transform:translateY(10px);
    -ms-transform:translateY(10px); /* IE 9 */
    -moz-transform:translateY(10px); /* Firefox */
    -webkit-transform:translateY(10px); /* Safari and Chrome */
    -o-transform:translateY(10px); /* Opera */
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
/*缩放*/
.scaleBig:hover{
    transform:scale(1.5);
    -ms-transform:scale(1.5); /* IE 9 */
    -moz-transform:scale(1.5); /* Firefox */
    -webkit-transform:scale(1.5); /* Safari and Chrome */
    -o-transform:scale(1.5); /* Opera */
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.scalesmall:hover{
    transform:scale(0.5);
    -ms-transform:scale(0.5); /* IE 9 */
    -moz-transform:scale(0.5); /* Firefox */
    -webkit-transform:scale(0.5); /* Safari and Chrome */
    -o-transform:scale(0.5); /* Opera */
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
/*边框阴影*/
.boxShadow:hover{
    -webkit-box-shadow: 0 15px 30px rgba(0,0,0,.1);
    -moz-box-shadow: 0 15px 30px rgba(0,0,0,.1);
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
    transfrom: translate3d(0,-2px,0);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.rotate:hover{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}