
/*
CSS中@用法小结
@[KEYWORD] (RULE);
@charset "UTF-8";
@import 'global.css';
虽然流行的CSS预处理器都支持@import，但是应该指出的是，它们的工作原理不同于原生的CSS：预处理器会抓取CSS文件并将它们处理成一个CSS文件，对原生CSS，每一个@import都是一个独立的HTPP请求。
@media
这个规则包含条件声明，可用于为特定屏幕指定样式，这些声明可以包含屏幕大小，在适屏样式中会很有用.
@font-face {
    font-family:"PingFang Light","microsoft yahei","Arial","Helvetica Neue", "Helvetica", "STHeiTi", sans-serif;
}

https://blog.csdn.net/zcy_wxy/article/details/80652247
*/

@charset "utf-8";
/*字体*/

/*
清空样式
ul,li,img,span{border:none;list-style:none;}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0 none;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: PingFang Light;
    font-size: 1em;
    appearance: inherit;
    -webkit-appearance: inherit;
    -webkit-tap-highlight-color: transparent;
}
ol, ul, li {list-style: none;}

em i s {
    font-style: normal;
    text-decoration: none;
}
a {
    text-decoration: none;
    cursor: pointer;
    color: #000;
}
a,a:link,a:visited{text-decoration:none;}
a:hover{text-decoration:none;}
a:focus{outline:none;}
input:focus{outline:none;outline-color: inherit}
*/

/*
媒体查询
@media mediatype and|not|only (media feature) {
    CSS-Code;
}
你也可以针对不同的媒体使用不同 stylesheets :
<link rel="stylesheet" media="mediatype and|not|only (media feature)" href="mystylesheet.css">
*/

/*常用类*/
.clearfix::after, .clearfix::before {
    content: '';
    display: block;
    clear: both;
}
/*防止拖动*/
img {
    border: 0;
    width: 3.88rem;
    height: 2.58rem;
    vertical-align: middle; /*  去掉图片底部默认的3像素空白缝隙*/
}

table {
    border-collapse: collapse; /*合并外连线*/
}

/*图片高100%，左右居中*/
.commonImgHeight {
    width: auto;
    height: 100%;
    display: block;
    margin:0 auto;
}
/*图片宽100%，高自适应*/
.commonImgWidth {
    width: 100%;
    height: auto;
    display: block;
}

/*边框圆角50%*/
.circle50per{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.margin0Atuo{
    margin:0 auto;
}

.lineThrough{
    text-decoration: line-through;
}
.underLine{
    text-decoration: underline;
}
.transitionAll1s{
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

