div {
	display: inline-block;
}

.flx {
	display: -webkit-flex;
  	display: flex;
}

.flxline {
	display: -webkit-inline-flex;
  	display: inline-flex;
}

.flx1 {
  -webkit-flex: 1;
          flex: 1;
}